@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-ms-reveal {
    display: none;
  }
}

@layer components {
  .signupInputAutofill {
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
    }

    &:-webkit-autofill:hover {
      -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
    }

    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
    }

    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
    }
  }
}
